body.dark-theme {
  background-color: var(--bg-body-dark);
}
/* -------------------- HEADING -------------------- */
.dark-theme h6,
.dark-theme .h6,
.dark-theme h5,
.dark-theme .h5,
.dark-theme h4,
.dark-theme .h4,
.dark-theme h3,
.dark-theme .h3,
.dark-theme h2,
.dark-theme .h2,
.dark-theme h1,
.dark-theme .h1 {
  color: var(--heading-color-light) !important;
}

/* -------------------- CARD -------------------- */
.dark-theme .card {
  background-color: var(--bg-secondary-dark);
}
.dark-theme .card-title {
  color: var(--heading-color-light);
}

/* -------------------- DROPDOWN -------------------- */
.dark-theme .dropdown-menu {
  background-color: var(--bg-secondary-dark);
}
.dark-theme .dropdown-menu {
  box-shadow: 0 0.25rem 0.75rem 0 rgba(20, 20, 29, 0.24);
}
.dark-theme .dropdown-item:focus,
.dark-theme .dropdown-item:hover {
  background: var(--bg-dropdown-item-hover) !important;
}

/* -------------------- SIDEBAR -------------------- */
.dark-theme aside {
  background-color: var(--bg-secondary-dark);
}
.dark-theme .app-brand-text,
.dark-theme .nav-link,
.dark-theme #icon {
  color: var(--heading-color-light);
}

/* -------------------- TABLE -------------------- */
.dark-theme tr:nth-child(odd) {
  background-color: var(--primary-15);
}
.dark-theme span,
.dark-theme p,
small {
  color: var(--text-color-light);
}
.dark-theme .table > :not(caption) > * > *,
.dark-theme .table {
  background-color: transparent;
  color: var(--text-color-light) !important;
  border-color: #4e4f6c;
}
/* -------------------- DASHBOARD -------------------- */
.icon-with-bg {
  background-color: var(--primary-15) !important;
}
.recent-expenses {
  background-color: var(--primary-15) !important;
}


.dark-theme .form-label,
.dark-theme .col-form-label {
  color: #afb4b9;
}

.dark-theme .form-select,
.dark-theme .form-control {
  background-color: transparent;
  color: #afb4b9;
  border-color: #717171;
}

.dark-theme .form-select::placeholder,
.dark-theme .form-control::placeholder {
  color: #878787;
}

.dark-theme .modal-content {
  background-color: #282828;
}
.dark-theme .modal-header {
  border-bottom: 1px solid #717171;
}
.dark-theme .modal-footer {
  border-top: 1px solid #717171;
}

.dark-theme .modal-backdrop.show {
  opacity: 0.8;
}
