.table th {
  font-size: 14px !important;
}
.table:not(.table-dark) td {
  font-size: 15px !important;
}
thead tr {
  background-color: transparent !important;
}

.w-18 {
  width: 18%;
}

.w-44 {
  width: 44%;
}

table th:last-child {
  width: 12% !important;
}

.table > :not(caption) > * > * {
  padding: 1.1rem 1.25rem !important;
}

table {
  white-space: nowrap;
  table-layout: fixed;
  margin-bottom: 0 !important;
}
.table-responsive {
  position: relative;
  padding: 0;
}

.transform-rotate {
  transform: rotate(180deg);
}

.dark-theme .page-item {
  background-color: #e6e6f10f;
}
.dark-theme .page-item svg {
  fill: #fff;
}
.page-item {
  cursor: pointer;
  width: 38px;
  height: 38px;
  display: flex;
  border-radius: 8px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background: #22303e0f;
  border: 1px solid transparent;
  line-height: 0;
}
.page-item.active {
  background-color: var(--primary);
}

.border-primary {
  border-color: #696cff;
}

.pointer-event-none {
  pointer-events: none;
}

.opacity-6 {
  opacity: 0.6;
}

nav[aria-label="Page navigation"] {
  padding: 0 !important;
}