:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #697a8d;
  background-color: #f5f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ----Globally Colors---- */
  --primary:#696cff;
  --primary-hover: #5f61e6;
  --primary-15:rgba(105, 108, 255, 0.10);

  /* ----Dark Theme---- */
  --bg-body-dark: #232333;
  --bg-secondary-dark: #2b2c40;
  --bg-dropdown-item-hover:rgba(105,108,255,.16);
  --heading-color-dark:#384551;
  --input-border: #5f607b;
  
  /* ----Light Theme---- */
  --heading-color-light: #d5d5e2;
  --text-color-light  : #b2b2c4;
  --bg-body-light: #f5f5f9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f5f5f9;
  color: #697a8d;
  font-family: "Public Sans", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p,
span {
  color: #697a8d;
}

.card-title {
  color: #697a8d;
  font-weight: 500;
}

a {
  color: #696cff;
  text-decoration: none;
}

a:hover {
  color: #787bff;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #566a7f !important;
}

.btn {
  font-size: 0.9375rem;
  padding: 0.4375rem 1.25rem;
}
.form-label,
.col-form-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: #566a7f;
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4) !important;
  transition: all 0.2s ease-in-out !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-hover) !important;
  border-color: var(--primary-hover) !important;
  transform: translateY(-1px);
}

.card {
  background-clip: padding-box;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.table {
  color: #566a7f;
}

.table:not(.table-dark) th {
  color: #566a7f;
}
.table:not(.table-dark) td {
  color: #697a8d;
  font-size: 0.9375rem;
}
.table th {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}
.table > :not(caption) > * > * {
  padding: 0.625rem 1.25rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(105, 108, 255, 0.08) !important;
  color: #696cff !important;
}

.custom-button {
  padding: 0;
  width: 138px;
  height: 38px;
}

.w-px-40 {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
}

/* remove the autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #afb4b9;
  transition: background-color 99999s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
  caret-color: #afb4b9;
}

.ps-40 {
  padding-left: 40px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-180 {
  transform: rotate(180deg);
}

.fill-available {
  height: -webkit-fill-available;
}

.h-100px {
  height: 100px;
  line-height: 100px;
}

span.badge {
  text-transform: uppercase;
  line-height: 10px;
  padding: 0.52em 0.593em;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 18px;
}
.dropdown-menu {
  font-size: 14px;
  max-height: 190px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.dark-theme::-webkit-scrollbar-track {
  background: var(--bg-secondary-dark);
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d5d5e2ba !important;
  border-radius: 10px;
}

.text-primary {
  color: var(--primary) !important;
}

.min-h-screen {
  min-height: 69vh;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.max-w-160px {
  max-width: 160px;
}
.fill-available.card-body {
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-bottom: 25px !important;
}
.w-48 {
  width: 48.5%;
}
.w-31 {
  width: 23%;
}
.w-21 {
  width: 21%;
}
.w-63 {
  width: 63%;
}
.w-37 {
  width: 37%;
}
.w-30 {
  width: 30%;
}
.w-210px {
  width: 200px;
}
.text-xs {
  font-size: 14px;
}
.icon-with-bg {
  display: flex;
  width: 57px;
  height: auto;
  padding: 10px;
  border-radius: 100%;
  background-color: #37374a;
  margin-bottom: 18px;
}
.recent-expenses {
  background: #37374a;
  padding: 9px 15px;
  border-radius: 0.375rem;
}

.recent-expenses h6 {
  font-size: 16px;
  font-weight: 600;
  color: #dddddd;
  line-height: 24px;
}

.badge {
  color: #697a8d;
}

.break-spaces {
  white-space: break-spaces;
}

/* .image-with-title-hover:hover span {
  text-decoration:underline ;
  text-underline-offset: 3px;
} */
.image-with-title-hover span {
  text-decoration:underline ;
  text-underline-offset: 3px;
}
.w-76 {
  width: 76%;
}
.w-62 {
  width: 62%;
}
.w-38 {
  width: 38%;
}
.w-24 {
  width: 24%;
}
.w-180px {
  width: 180px !important;
}
table th.w-210px:last-child, table th.w-180px:last-child {
  width: 120px !important;
}
.report-filter {
  width: 22%;
}

aside {
  min-height: 100vh;
  overflow-x: auto;  
}

@media (max-width: 992px) {
  .w-lg-50 {
    width: 48.9% !important;
  }
  .w-76, .w-24, .w-62, .w-38 {
    width: 100%;
  }
  .table > :not(caption) > * > * {
    padding: 1.1rem 0.80rem !important;
  }
  .report-filter {
    width: 21%;
  }
}
@media (max-width: 767px) {
  .report-filter {
    gap: 0 !important;
    width: 50%;
    padding: 10px;
  }
  .w-lg-50 {
    width: 48.5% !important;
  }
  .-m-lg-10px {
    margin: -10px;
  }
  /* .w-21 {
    width: 47% !important;
  } */
  .gap-20px {
    gap:0 !important;
  }
  .w-63,
  .w-37 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .report-filter {
    width: 100%;
  }
  .profile-upload {
    flex-wrap: wrap;
  }
  .welcome {
    font-size: 12px;
  }
  .profile-upload img {
    height: 250px;
    width: 100%;
  }
  .w-lg-50 {
    width: 100% !important;
  }
  .min-h-screen {
    min-height: 65vh !important;
  }
  .w-30 {
    width: 180px;
  }
  .w-210px {
  }
  .w-18 {
    width: 180px;
  }
  .w-44 {
    width: 185px;
  }
  table th:last-child {
    width: 120px !important;
  }
  .w-200px {
    width: auto !important;
  }
  .w-31 {
    width: 100%;
  }
  .w-21 {
    width: 100% !important;
  }
  .max-w-160px {
    max-width: 120px;
  }
}
